@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.example {

  align-items: center;
  list-style: none;
  text-decoration: none;
  min-height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
}

.active-link {
  font-size: 25px;
}