* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.example {

  align-items: center;
  list-style: none;
  text-decoration: none;
  min-height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
}

.active-link {
  font-size: 25px;
}